<div class="row">
  <div class="xs-12 text-center">
    <h1>ParkAtlanta </h1>
    <p>Check on parking lot status, and your queue position below. Click below to remove a vehicle, or add a new vehicle to the queue.</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Lot Status:</h2>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          {{#each model as |lot|}}
            <li class='list-group-item {{if status "list-group-item-success"}}'>
              {{#if isFull}}<span class="badge">{{fa-icon "check-circle"}}</span>{{/if}} {{lot.type}} {{#if isFull}}(full){{/if}}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Parking Queue:</h2>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          {{#each model as |queue|}}
            <li class="list-group-item">{{queue.index}}. {{queue.type}} <span class="badge"><i class="fa {{queue.icon}}"></i></span></li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-center">
    <div class="btn-group btn-group-lg" role="group">
      <button class="btn btn-warning">{{fa-icon "fa-minus-circle"}} Remove a car from the lot</button>
      <div class="btn-group btn-group-lg" role="group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{fa-icon "fa-plus-circle"}} Add a vehicle to the Queue
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#"{{action "addVehicle"}}>{{fa-icon "fa-motorcycle"}} Motorcycle</a></li>
          <li><a href="#"{{action "addVehicle"}}>{{fa-icon "fa-car"}} Sedan</a></li>
          <li><a href="#"{{action "addVehicle"}}>{{fa-icon "fa-truck"}} Truck</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>